= form_for @team do |f|
  %fieldset
    .control-group
      = f.label :name
      = f.text_field :name
    .control-group
      = f.label :product
      = f.text_field :product
    .control-group
      = f.label :region
      = f.text_field :region
    .control-group
      = f.label :description
      = f.text_area :description, size: '50x5'
  %fieldset
    %legend Users
    .control-group
      = label_tag 'ldap_users_search', 'Add user'
      = search_field_tag 'ldap_users_search'
    .control-group
      .list#users
        - @team.users.each do |user|
          .user.inner_item
            = text_field_tag 'name', user.name, disabled: true
            = hidden_field_tag 'users[]', user.username
            = hidden_field_tag 'users[]', user.name
            %i.icon-remove
    = f.submit 'Submit', class: 'btn'
.template#user_template
  .user.inner_item
    = text_field_tag 'name', '%%name%%', disabled: true
    = hidden_field_tag 'users[]', '%%username%%'
    = hidden_field_tag 'users[]', '%%name%%'
    %i.icon-remove
