%h1 Create a new Team
= form_for :team, url: new_team_url, method: :get do |f|
  = label_tag("Team Name") 
  = f.text_field :name
  = label_tag("Description") 
  = f.text_area :description
  = f.submit "Create Team"