%h1= teams_header(params[:inactive])
= teams_toggle_link(params[:inactive])
%table.table
  %thead
    %tr
      %th ID
      %th Name
      %th Product
      %th Region
      %th Description
      %th Date Added
      %th
    - @teams.each do |team|
      %tr
        %td= team.id
        %td= link_to team.name, team
        %td= team.product
        %td= team.region
        %td= team.description
        %td= l team.created_at, format: :long
        %td= link_to 'Edit', edit_team_url(team)
= link_to 'New Team', new_team_url

