%table.table
  %thead
    %tr
      %th #
      %th Name
      %th Description
      %th Date Added
      %th
    - @teams.each_with_index do |team, index|
      %tr
        %td= index + 1
        %td= link_to team.name, team
        %td= team.description
        %td= team.created_at
        %td= link_to 'Edit', edit_team_url(team)
= link_to "New Team", new_team_url

