%h1
  Team
  = @team.name
%p= "Description: #{@team.description}" 
%p= "Created: #{@team.created_at}"
%p= "Updated: #{@team.updated_at}"
%p= link_to "edit", {:action => "edit", :id => @team.id}

%h4 EC2 Instance Control

%p= link_to "Launch New Instance", new_aws_ec2_instance_url

.row-fluid
  .span6
    %h4
      Team Members
    %table.table
      %thead
        %tr
          %th #
          %th Username
          - @team.users.each_with_index do |user, index|
            %tr
              %td= index + 1
              %td= link_to user.username, user_url(user.id)
  .span6
    %h4
      Instances
    %table.table
      %thead
        %tr
          %th #
          %th Address
          %th Status
          - @team.ec2_instances.each_with_index do |instance, index|
            %tr
              %td= index + 1
              %td= link_to instance.name, url_for([:aws, instance])
              %td= instance.human_status

