%h1= "TEAM" @team.name
%p= "Description: " @team.description
%p= "Created: " @team.created_at
%p= "Updated: " @team.updated_at
%table.table
  %thead
    %tr
      %th #
      %th Username
      - @team.users.each_with_index do |user, index|
        %tr
          %td= index
          %td= link_to user.username, user_url(user.id)
