<!DOCTYPE HTML>
%html.full-height

%head
  %title= content_for?(:title) ? yield(:title) : Wonga::Pantry
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body.full-height
  .div.main-container.dark-container
    .container
      = render 'form'

    .container
      - flash.each do |type, message|
        .alert{ class: "alert-#{type}" }
          %button.close{ data: { dismiss: 'alert' } } &times;
          = message
      = yield

    .div.main-footer.dark-footer
      %p.text-centered= link_to('Pantry Issue Tracker', CONFIG['pantry']['issue_tracker'], target: 'blank')
      %p.text-centered= %(#{mail_to(CONFIG['pantry']['pantry_email'], 'Email us')} on #{CONFIG['pantry']['pantry_email']}).html_safe
