= form_for :search, url: search_chef_nodes_url, method: :get do |f|
  = label_tag("Environment") 
  = f.search_field :environment
  = label_tag("Role") 
  = f.search_field :role
  = f.submit "Search"
%h3 Nodes
- if @nodes 
  - @nodes.each do |n|
    %p= n
  
