= form_for :search, url: search_chef_nodes_url, method: :get do |f|
  = f.label :environment, "Environment"
  = f.search_field :environment
  = f.label :role, "Role"
  = f.search_field :role
  = f.submit "Search"
%h3 Nodes
- if @nodes 
  - @nodes.each do |n|
    %p= n
  
