%h1 Jenkins Slaves

= link_to "Go back to master server ##{@jenkins_server.id}", jenkins_server_path(@jenkins_server)

%table.table
  %thead
    %tr
      %th #
      %th Name
      %th ImageID
      %th Groups
      %th Run List
    - @ec2_instances.each do |instance|
      %tr
        %td= instance.id
        %td= instance.name
        %td= instance.ami
        %td= instance.security_group_ids
        %td= instance.run_list

        