%h1= "#{@team.name}'s jenkins slave"

= link_to "Go back to the Jenkins server", jenkins_server_jenkins_slaves_path(@jenkins_server)

= render 'shared/ec2_instance', ec2_instance: @ec2_instance

- if can?(@ec2_instance, :termination)
  = button_to 'Destroy', [@jenkins_server, @jenkins_slave], method: :delete, data: { confirm: 'This will permanently delete this instance. Are you sure?' }

- if can?(@ec2_instance, :start_instance)
  = button_to 'Start', aws_ec2_instance_url(@ec2_instance,  "event" => "start_instance"), method: :put

- if can?(@ec2_instance, :terminated)
  %p Destroy action sent. This slave is not usable anymore.

- if can?(@ec2_instance, :shutdown_now)
  = button_to "Shut down", aws_ec2_instance_url(@ec2_instance, "event" => "shutdown_now"), method: :put
