%h1= "#{@team.name}'s jenkins slave"

= link_to "Go back to the Jenkins server", jenkins_server_jenkins_slaves_path(@jenkins_server)

= render 'shared/ec2_instance', ec2_instance: @ec2_instance

- if can?(@ec2_instance, :termination)
  = button_to('Destroy', [@jenkins_server, @jenkins_slave], method: :delete, confirm: 'This will permanently delete this instance. Are you sure?')
- if can?(@ec2_instance, :terminated)
  %p Destroy action sent. This slave is not usable anymore.