.jenkins_slave{ data: { ng_controller: 'Ec2InstanceCtrl', instance_id: @ec2_instance.instance_id } }
  %h1 #{@team.name}'s jenkins slave

  = link_to 'Go back to the Jenkins server', jenkins_server_jenkins_slaves_path(@jenkins_server)
  |
  = link_to "Go back to #{@jenkins_server.team.name}", @jenkins_server.team

  = render 'shared/ec2_instance', ec2_instance: @ec2_instance

  = button_to 'Destroy', [@jenkins_server, @jenkins_slave], method: :delete,
    data: { confirm: 'This will permanently delete this instance. Are you sure?', ng_if: 'policy.destroy' }, class: 'btn btn-danger'

  = button_to 'Force terminate', cleanup_aws_ec2_instance_url(@ec2_instance), method: :delete,
    data: { confirm: 'This will make machine cleanup and terminate an instance. Are you sure?', ng_if: 'policy.cleanup' }, class: 'btn btn-danger'

  - if @ec2_instance.state == 'terminating'
    %p Destroy action sent. This slave is not usable anymore.
