%h1= @job.name
%h5= @job.job_status
%p= @job.description
%p
  Created:
  = @job.created_at
%p
  Started:
  = @job.start_time
%p
  Completed:
  = @job.end_time
%p= link_to 'Logs', job_job_logs_url(@job)
