%h1 Users of Pantry
%table.table
  %thead
    %tr
      %th #
      %th Name
      %th Email
      - if policy(current_user).edit?
        %th Role
        %th
  - @users.each_with_index do |user, index|
    %tr
      %td= index + 1
      %td= link_to user.name, user_url(user)
      %td= user.email
      - if policy(user).edit?
        %td= user.role.humanize
        %td= link_to "Edit", edit_user_url(user)
