.row
  .span4
    = image_tag(@user.image_url(440), { alt: 'Gravatar', size: "220x220" })
  .span8
    %h3= @user.name
    %strong Username:
    %p= @user.username
    %strong Email:
    %p= mail_to @user.email
    - if policy(@user).edit?
      = link_to "Edit", edit_user_url(@user)
- if @user.ec2_instances.present?
  .row
    %h4
      Instances
    %table.table
      %thead
        %tr
          %th #
          %th Address
          %th Status
          %th OS
          %th Environment
          %th Instance role
          = render partial: 'shared/ec2_instance_row', collection: @user.ec2_instances
