%table.table.table_with_instances.sortable-datatable-full
  %thead
    %tr
      %th #
      %th Address
      %th Status
      %th OS
      %th Environment
      %th AMI ID
      %th Instance role
  - ec2_instances.each do |ec2_instance_row|
    %tr
      %td= ec2_instance_row.id
      %td= link_to ec2_instance_row.name, url_for([:aws, ec2_instance_row])
      %td.col_status{ data: { ec2_id: ec2_instance_row.id } }= ec2_instance_row.human_status
      %td= os_image(ec2_instance_row.platform)
      %td= link_to ec2_instance_row.environment.human_name, ec2_instance_row.environment
      %td= ec2_instance_row.ami
      %td
        - if ec2_instance_row.instance_role_id
          = link_to_instance_role(ec2_instance_row)
