%table.table
  %thead
    %tr
      %th ID
      %th Name
      %th Status
      %th OS
      %th AMI ID
      %th Instance role
  - ec2_instances.each do |instance|
    %tr
      %td= instance.id
      %td= link_to instance.name, url_for([:aws, instance])
      %td= instance.human_status
      %td= os_image(instance.platform)
      %td= instance.ami
      - if instance.instance_role_id.nil?
        %td= '-'
      - else
        %td= link_to_instance_role(instance)
      - if policy(instance).destroy?
        %td
          = link_to image_tag("trash.png", class: 'i icon-centered'),
                    aws_ec2_instance_url(instance.id),
                    method: :delete,
                    data: { confirm: 'This will permanently delete this instance. Are you sure?'},
                    title: 'Delete an instance'