- cache [:v5, ec2_instance] do
  .row-fluid{data: { instance_id: @ec2_instance.instance_id, ec2_instance_id: @ec2_instance.id}}
    .span2
      Instance ID:
    .span2{data_instance_id: ec2_instance.id}
      = ec2_instance.instance_id
  .row-fluid
    .span2
      IP address:
    .span2{data_ng_bind: 'ec2_instance.ip_address'}
      = ec2_instance.ip_address
  .row-fluid
    .span2
      Current Step:
    .span2{data_ng_bind: 'ec2_instance.human_status'}
      = ec2_instance.human_status
  .aws_info{'ng-if' => 'ec2_instance.human_status == "Ready"'}
    .row-fluid
      .span2
        Status check failed:
      .span2{data_ng_bind: 'ec2_instance_status.status_check_failed'}
    .row-fluid
      .span2
        CPU Utilization:
      .span2{data_ng_bind: 'ec2_instance_status.cpu_utilization'}

  = button_to "Shut down", aws_ec2_instance_url(@ec2_instance, "event" => "shutdown_now"), method: :put, data: {'ng-show' => 'policy.shutdown_now'}

  = button_to 'Start', aws_ec2_instance_url(@ec2_instance, "event" => "start_instance"), method: :put, data: {'ng-show' => 'policy.start_instance'}
