- cache [:v4, ec2_instance] do
  .row-fluid
    .span2
      Instance ID:
    .span2= ec2_instance.instance_id
  .row-fluid
    .span2
      IP address:
    .span2= ec2_instance.ip_address
  .row-fluid
    .span2
      Current Step:
    .span2
      .current_step
        = ec2_instance.human_status
      #spinner
  - if ec2_instance.human_status == 'Ready'
    %div{"ng-controller" => "Ec2InstanceCtrl", "ng-init" => "getAwsStatus()", "id" => "Ec2InstanceCtrl", "data-instance-id" => ec2_instance.instance_id}
      .row-fluid
        .span2
          Status check failed:
        .span2
          {{ec2_instance_status.status_check_failed}}
      .row-fluid
        .span2
          CPU Utilization:
        .span2
          {{ec2_instance_status.cpu_utilization}}

  - else
    :javascript
        Ec2InstanceRequestStatusPoller.poll();

- if policy(@ec2_instance).shutdown_now?
  = button_to "Shut down", aws_ec2_instance_url(@ec2_instance, "event" => "shutdown_now"), method: :put

- if policy(@ec2_instance).start_instance?
  = button_to 'Start', aws_ec2_instance_url(@ec2_instance, "event" => "start_instance"), method: :put
