- cache [:v3, ec2_instance] do
  .row-fluid
    .span2
      Requested by user:
    .span2= link_to(ec2_instance.user.username, @ec2_instance.user)
  .row-fluid
    .span2
      Requested on:
    .span2= l ec2_instance.created_at, format: :long
  .row-fluid
    .span2
      Name:
    .span2= ec2_instance.name
  .row-fluid
    .span2
      Domain:
    .span2= ec2_instance.domain
  .row-fluid
    .span2 AMI:
    .span2= ec2_instance.ami
  .row-fluid
    .span2 Type:
    .span2
      -# if policy(ec2_instance).change_machine?
      = ec2_instance.flavor
  - if ec2_instance.protected?
    .row-fluid
      .span2 This machine is protected
#ec2instance_status{'data-url' => ec2_instance_url(ec2_instance)}
  #ec2instance_status_content
    = render 'shared/ec2_instance_status', ec2_instance: ec2_instance
