%table.table.table_with_instances
  %thead
    %tr
      %th #
      %th InstanceID
      %th Name
      %th ImageID
      %th Groups
      %th State
    - jenkins_instances.each do |jenkins_instance|
      %tr
        %td= link_to jenkins_instance.id, [jenkins_server, jenkins_instance]
        %td= jenkins_instance.ec2_instance.instance_id
        %td= jenkins_instance.ec2_instance.name
        %td= jenkins_instance.ec2_instance.ami
        %td= jenkins_instance.ec2_instance.security_group_ids
        %td.col_status{data: {ec2_id: jenkins_instance.ec2_instance.id}}= jenkins_instance.ec2_instance.human_status

