%h1 AMI
%table.table
  %thead
    %tr
      %th #
      %th ImageID
      %th ImageState
      %th Architecture
      %th Platform
      %th Name
      %th Description
    - @lists.each_with_index do |list,index|
      %tr
        %td= index + 1
        %td= list.image_id
        %td
          = list.state
          - if list.state_reason
            = "(#{list_state_reason})"
        %td= list.architecture
        %td= list.platform
        %td= list.name
        %td= list.description
