%h1 VPCS
%table.table
  %thead
    %tr
      %th #
      %th ID
      %th State
      %th CIDR Block
      %th DHCP Options ID
      %th Tags
    - @lists.each_with_index do |list,index|
      %tr
        %td= index + 1
        %td= list.id
        %td= list.state
        %td= list.cidr_block
        %td= list.dhcp_options_id
        %td= list.tags