%h1 Create EC2 Instance

= form_for [:aws, @ec2_instance] do |f|
  = render "shared/error_messages", :target => @ec2_instance
  = f.label :name
  = mark_required(@ec2_instance, :name)
  = f.text_field :name
  
  = f.label :domain
  = mark_required(@ec2_instance, :domain)
  = f.text_field :domain

  = f.label :ami
  = f.select :ami, options_for_select(@ami_options)

  = f.label :flavor
  = f.select :flavor, options_for_select(@flavor_options)

  = f.label :subnet_id
  = f.select :subnet_id, options_for_select(@subnet_options)

  = f.label :security_group_ids
  = f.select :security_group_ids, options_for_select(@secgroup_options)

  - if current_user.teams.size == 1
    = f.hidden_field :team_id, value: current_user.teams.first.id
  - else
    = f.select :team_id, options_from_collection_for_select(current_user.teams, :id, :name)


  %br
  = f.submit "Create", {class: "btn"}