%h1 Create EC2 Instance

= simple_form_for [:aws, @ec2_instance] do |f|
  = f.input :name
  = f.input :domain
  = f.input :chef_environment
  = f.input :run_list, as: :text

  = f.input :ami, collection: @ec2_adapter.amis, as: :grouped_select, group_method: :second, group_label_method: :first

  = f.input :flavor, collection: @ec2_adapter.flavors

  = f.input :subnet_id, collection: @ec2_adapter.subnets

  = f.input :security_group_ids, collection: @ec2_adapter.security_groups

  - if current_user.teams.size == 1
    = f.hidden_field :team_id, value: current_user.teams.first.id
  - else
    = f.input :team_id, collection: current_user.teams


  %br
  = f.submit "Create"
