%div{"ng-controller" => "Ec2InstanceCtrl"}
  %h1= @ec2_instance.name
  = link_to "Go back to #{@ec2_instance.team.name}", @ec2_instance.team

  = render 'shared/ec2_instance', ec2_instance: @ec2_instance

  = button_to 'Destroy', [:aws, @ec2_instance], method: :delete, data: { confirm: 'This will permanently delete this instance. Are you sure?', 'ng-show' => 'policy.destroy'}, class: 'btn'
  
  = button_to 'Run machine cleanup', cleanup_aws_ec2_instance_url(@ec2_instance), method: :delete, data: { confirm: 'This will make machine cleanup and terminate an instance. Are you sure?', 'ng-show' => 'policy.cleanup'}, class: 'btn btn-danger'

  - if @history_log 
    .row-fluid
      .span8
        .accordion
          .accordion-group
            .accordion-heading
              .lightgray.accordion-toggle{"data-toggle" => "collapse", href: "#historyList"}
                .text-centered  History
            .accordion-body.collapse{id: "historyList"}
              .accordion-inner
                .div{ class: "instance_history_log"}
                  %table.table
                    %thead
                      %tr
                        %th #
                        %th User
                        %th Event
                        %th Spent time
                      - @history_log.each_with_index do |record, index|
                        %tr
                          %td= index + 1
                          %td= link_to(record.user.username, record.user)
                          %td= record.event.camelize
                          %td= index == 0 ? '-' : distance_of_time_in_words(@history_log[index-1].created_at, record.created_at)
