%h1= "#{@team.name}'s jenkins server"

.row-fluid
  .span2
    Request No:
  .span3= link_to(@ec2_instance.id, "/aws/ec2_instances/#{@ec2_instance.id}")
.row-fluid
  .span2
    Machine Size:
  .span3= @ec2_instance.flavor
.row-fluid
  .span2
    Platform:
  .span3= @ec2_instance.platform

= render partial: 'shared/ec2_instance', locals: {ec2_instance: @ec2_instance}

%h2= "#{@team.name}'s jenkins slaves"

%h4= link_to "Create a new slave", new_jenkins_server_jenkins_slave_path(@jenkins_server)

= render partial: 'shared/jenkins_index', locals: { jenkins_instances: @jenkins_slaves, jenkins_server: @jenkins_server }