.row-fluid{ data: { ng_controller: 'AmisCtrl', ng_init: "setAmi('#{@ami.ami_id}', '#{@ami.name}', '#{@ami.platform}', '#{@ami_platform_was}')" } }
  .span3
    = simple_form_for [:admin, @ami] do |f|
      .form-inputs
        = f.input :ami_id, label: 'AMI id', input_html: { maxlength: 12, data: { ng_model: 'ami.ami_id', ng_change: 'getAmiInfo()' } }
        = f.input :name, input_html: { data: { ng_model: 'ami.name' } }
        = f.hidden_field :platform, data: { ng_value: 'ami.platform' }
        #username{ data: { ng_if: 'ami.platform == "linux"' } }
          = f.input :bootstrap_username
        = f.input :hidden, inline_label: true, label: false

      = f.submit
  .span9
    #ami_not_found{ data: { ng_show: '!aws_ami.name && (ami.ami_id.length > 0)' } }
      .span4.label.label-warning AMI {{ami_id}} not found
    #ami_different_platform{ data: { ng_show: 'ami.platform_was && (ami.platform_was != ami.platform)' } }
      .span5.label.label-warning AMI can't be updated with a different platform
    #ami_info{ data: { ng_show: 'aws_ami.name' } }
      %h3 AMI info for {{ami.ami_id}}
      .span5
        %h4 General information
        %ul
          %li Name: {{aws_ami.name}}
          %li
            OS:
            = image_tag 'win_icon.png', title: 'Windows', data: { ng_show: 'aws_ami.platform == "windows"' }
            = image_tag 'linux_icon.png', title: 'Linux', data: { ng_show: 'aws_ami.platform == "linux"' }
          %li ID: {{aws_ami.image_id}}
          %li Description: {{aws_ami.description}}
          %li Root device type: {{aws_ami.root_device_type}}
          %li Root device name: {{aws_ami.root_device_name}}
          %li Hypervisor: {{aws_ami.hypervisor}}
          %li Virtualization type: {{aws_ami.virtualization_type}}
          %li Architecture: {{aws_ami.architecture}}
          %li State: {{aws_ami.image_state}}
          %li Public {{aws_ami.is_public}}
          %li Owner ID {{aws_ami.image_owner_id}}
        %h4 Tags
        %ul{ data: { ng_repeat: 'tag in aws_ami.tag_set' } }
          %li
            %b {{tag.key}}
            {{tag.value}}
      .span4
        %h4 Devices
        %ul{ data: { ng_repeat: 'device in aws_ami.block_device_mapping' } }
          %li Device name: {{device.device_name}}
          %li Snapshot id: {{device.ebs.snapshot_id}}
          %li Volume size: {{device.ebs.volume_size}}
          %li Delete on termination: {{device.ebs.delete_on_termination}}
          %li Volume type: {{device.ebs.volume_type}}

