!!!
%html{"ng-app" => "Pantry"}
  %head
    %title= content_for?(:title) ? yield(:title) : Wonga::Pantry
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  .navbar
    .navbar-inner
      %ul.nav
        = navbar_link_to("Home", root_url)
        = navbar_link_to("Teams", teams_url)
        = navbar_link_to("Jenkins", jenkins_servers_url)
        - if current_user.have_billing_access?
          = navbar_link_to("Billing", ec2_instance_costs_url)

      - if current_user
        %ul.nav.pull-right
          - if current_user.image_url
            %li
              %img{src: current_user.image_url, alt: 'Gravatar'}
          %li
            = link_to 'Log out', logout_url
  .container
    - unless flash.empty?
      %div{:class => ["alert-message", flash_class(flash.first.first)]}
        %button{:type => "button", :class => "close", "data-dismiss" => "alert"} &times;
        = flash.first.try(:last)
    = yield

