!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : Pantry
    = stylesheet_link_tag    "bootstrap", media: "all"
    = csrf_meta_tags

  .navbar
    .navbar-inner
      %ul.nav
        %li{class: (current_page?(root_url) ? 'active' : '')}
          = link_to "Home", root_url
        %li{class: (current_page?(jobs_url) ? 'active' : '')}
          = link_to "Jobs", jobs_url
        %li{class: (current_page?(packages_url) ? 'active' : '')}
          = link_to "Packages", packages_url
        %li{class: (current_page?(teams_url) ? 'active' : '')}
          = link_to "Teams", teams_url
        %li{class: (current_page?(search_chef_nodes_url) ? 'active' : '')}
          = link_to "Search Chef Nodes", search_chef_nodes_url
  = yield

