!!!
%html{"ng-app" => "Pantry"}
  %head
    %title= content_for?(:title) ? yield(:title) : Wonga::Pantry
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  .navbar
    .navbar-inner
      %ul.nav
        %li{class: (current_page?(root_url) ? 'active' : '')}
          = link_to "Home", root_url
        %li{class: (current_page?(teams_url) ? 'active' : '')}
          = link_to "Teams", teams_url
        %li{class: (current_page?(jenkins_servers_url) ? 'active' : '')}
          = link_to "Jenkins", jenkins_servers_url
        %li{class: (current_page?(search_chef_nodes_url) ? 'active' : '')}
          = link_to "Search Chef Nodes", search_chef_nodes_url
        %li.divider-vertical
        %li.dropdown
          %a.dropdown-toggle{href: "#", "data-toggle"=>"dropdown"}
            AWS
            %b.caret
          %ul.dropdown-menu
            %li{class: (current_page?(ec2_url) ? 'active' : '')}
              = link_to "EC2", ec2_url
            %li{class: (current_page?(ami_url) ? 'active' : '')}
              = link_to "AMI", ami_url
            %li{class: (current_page?(vpc_url) ? 'active' : '')}
              = link_to "VPC", vpc_url
            %li{class: (current_page?(secgroups_url) ? 'active' : '')}
              = link_to "Sec Groups", secgroups_url

      - if current_user
        %ul.nav.pull-right
          - if current_user.image_url
            %li
              %img{src: current_user.image_url, alt: 'Gravatar'}
          %li
            = link_to 'Log out', logout_url
  .container
    - unless flash.empty?
      %div{:class => flash_class(flash.first.first)}
        %button{:type => "button", :class => "close", "data-dismiss" => "alert"} &times;
        = flash.first.try(:last)
    = yield

